<template>
  <v-container class="mt-10">
    <v-row justify="center">
      <v-col cols="12">
        <div>
          <v-text-field v-model="url" label="URL" required></v-text-field>
          <v-btn color="primary" @click="submit">Create short url</v-btn>
        </div>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-btn color="primary" @click="loadUrls">Fetch urls</v-btn>
      <v-col cols="12">
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">Original Url</th>
                <th class="text-left">Short url</th>
                <th class="text-left">Counter</th>
                <th class="text-left">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in results" :key="item.id">
                <td>{{ item.url }}</td>
                <td><a :href="item.shortUrl" v-text="item.shortUrl" target="_blank"/></td>
                <td>{{ item.counter }}</td>
                <v-btn color="error" @click="submit">Delete</v-btn>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>

    <v-snackbar v-model="snackbar" :color="snackbarType">
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
export default {
  name: "HelloWorld",
  data: () => ({
    url: "",
    text: "",
    snackbar: false,
    snackbarType: "",
    timeout: 2000,
    results: [],
  }),
  mounted() {
    this.loadUrls();
  },
  methods: {
    async loadUrls() {
      let resp = await fetch(process.env.VUE_APP_SURL_API_HOST + "/api/urls", {
        method: "GET",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
      });

      let body = await resp.json();
      if (resp.status == 200) {
        this.results = body.map((u) => {
          u.shortUrl = process.env.VUE_APP_SURL_API_HOST + "/" + u.id;
          return u;
        });
      } else {
        this.text = body.message;
        this.snackbar = true;
      }
    },
    async deleteUrl(id) {
      let resp = await fetch(
        process.env.VUE_APP_SURL_API_HOST + "/api/urls/" + id,
        {
          method: "DELETE",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        }
      );

      let body = await resp.json();
      if (resp.status == 200) {
        this.loadUrls();
      } else {
        this.text = body.message;
        this.snackbar = true;
      }
    },
    async submit() {
      let resp = await fetch(process.env.VUE_APP_SURL_API_HOST + "/api/urls", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ url: this.url }),
      });

      let body = await resp.json();
      if (resp.status == 201) {
        this.loadUrls();
        this.text = resp.statusText;
        this.snackbarType = "sucess";
        this.snackbar = true;
        this.url = ""
      } else {
        this.text = body.message;
        this.snackbarType = "error";
        this.snackbar = true;
      }
    },
  },
};
</script>
